.nav-main{
    width: 100%;
    height: 4rem;
    position: fixed;
    background-color: rgb(21, 123, 113);
    display: flex;
    justify-content: space-between;
}

.nav-right{
   padding: 1.5rem;
   width: calc(25% - 10px);  
}

.nav-left{
    padding-bottom: 3rem;
    width: calc(50% - 10px);  
}