ul{
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
.new-tasks{
  position: relative;
  margin-top: 10%;
  max-height: 200px;
  overflow-y: auto;
}
.completed-tasks-container{
  position: relative;
  margin-top:30%;
  background-color: rgb(228, 228, 228);
  max-height: 100px;
  overflow-y: auto;
}

.completed-tasks-list{
  text-decoration: line-through;
  font-style: italic;
}
.status-title{
  text-decoration: none;
  margin: 20px 10px;
}
.toggle{
  margin-left: 5px;
}
.task-item{
  text-align: left;
  height: fit-content;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  font-size:1rem;
  padding: 5px; 
}

button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}
button:hover{
  background-color: rgb(197, 197, 197);
  cursor: pointer;
}
.check-button {
  position: absolute;
  right: 5rem;
  margin-right: 5px;
}
.edit-form{
  border: none;
  width: fit-content; 
}
.delete-button {
  position:absolute;
  right: 20px;
}

.edit-button{
  position: absolute;
  right: 9rem;
  margin-right: 10px;
}


