.list-container{
  margin-top: 1rem;
  max-width: 450px;
  width: 450px;
  align-items: left;
  }

.new-tasks{
  list-style-type: none;
  width: 100%;
}
.completed-tasks{
  list-style-type: none;
  width: 100%;
  
}
.task-item{
  margin-top: 10px;
  background-color: rgba(241, 241, 241, 0.874);
}
.check-button {
  margin-left: 1rem;
  justify-content: right;

}
.delete-button {
  justify-content: right;
}

.edit-button{
  margin-left: 1rem;
  justify-content: right;
}