.App{
    margin: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    align-items: center;
    align-content: center;
  }

  .task-item{
    margin-top: 1rem;
    padding: 2px;   
    border-color: #222222; 
  }

  .button{
    margin-left: 2rem;
    
  }