.list-container{
  padding: 1rem;
  max-width: 450px;
  width: 450px;
  list-style-type: none;
  align-items: left;
  }

.task-item{
  margin-top: 10px;
}
.check-button {
  margin-left: 1rem;
  justify-content: right;

}
.delete-button {
  justify-content: right;
}

.edit-button{
  margin-left: 1rem;
  justify-content: right;
}